<mat-card>
  <div class="info-team">
    <div style="display: flex; flex-direction: row">
      <img class="escudo-time" [src]="urlEscudo" />
      <div style="display: flex; flex-direction: column; margin-top: 7px">
        <span style="font-weight: 500; font-size: 20px">{{
          timeSelecionado.nomeTime
        }}</span>
        <span>Técnico: {{ treinador }}</span>
      </div>
    </div>
    <div class="next-game">
      <span style="font-weight: 500">Próximo Jogo:</span>

      <div style="display: flex; flex-direction: row; margin: auto">
        <img
          [src]="getTeamImageUrl(proximoJogo.timeCasa)"
          style="width: 100px"
        />
        <span style="font-size: 20px; margin: auto 25px auto 25px">X</span>
        <img
          [src]="getTeamImageUrl(proximoJogo.timeFora)"
          style="width: 100px"
        />
      </div>
    </div>
    <div>
      <button mat-raised-button style="width: 450px">Iniciar Jogo</button>
    </div>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z4">
      <!-- Position Column -->
      <ng-container matColumnDef="posicaoJogador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Posição</th>
        <td mat-cell *matCellDef="let jogador">{{ jogador.posicaoJogador }}</td>
      </ng-container>

      <!-- Player Name Column -->
      <ng-container matColumnDef="nomeJogador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Nome do Jogador
        </th>
        <td mat-cell *matCellDef="let jogador">{{ jogador.nomeJogador }}</td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="idadeJogador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Idade</th>
        <td mat-cell *matCellDef="let jogador">{{ jogador.idadeJogador }}</td>
      </ng-container>

      <!-- Characteristics Column -->
      <ng-container matColumnDef="caracteristicaJogador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Característica
        </th>
        <td mat-cell *matCellDef="let jogador">
          {{ jogador.caracteristicaJogador }}
        </td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="valorJogador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
        <td mat-cell *matCellDef="let jogador">{{ jogador.valorJogador }}</td>
      </ng-container>

      <!-- Goals Column -->
      <ng-container matColumnDef="golsJogador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gols</th>
        <td mat-cell *matCellDef="let jogador">{{ jogador.golsJogador }}</td>
      </ng-container>

      <!-- Strength Column -->
      <ng-container matColumnDef="forcaJogador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Força</th>
        <td mat-cell *matCellDef="let jogador">{{ jogador.forcaJogador }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="summary-container">
    <p>Valor Total: {{ calcularValorTotalTime() }}</p>
    <p>Valor Médio: {{ calcularValorMedioTime() }}</p>
    <p>Força Média: {{ calcularForcaMediaTime() }}</p>
    <p>Total de Gols: {{ calcularTotalGolsElenco() }}</p>
  </div>
</mat-card>
