mat-card {
  width: 90%;
  height: 95%;
  margin: 0 auto;
  padding: 0px;
  margin-top: 1%;
  background: transparent;
}

.table-container {
  width: 70%;

  float: right;
  text-align: center;
  margin-left: auto;

  overflow: auto;
  border-radius: 5px;
  background-color: #1a1b26;
  color: white;
}

.summary-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: 10px;
  p {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.info-team {
  width: 28%;
  position: absolute;
  background-color: #1a1b26;
  border-radius: 5px;
  color: white;
  height: 100%;
}
.escudo-time {
  width: 100px;
}

.next-game {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 10px;
}

.menu-top {
  display: flex;
  flex-direction: row;
  height: 5%;
}

mat-header-cell,
mat-cell,
ng-container {
  justify-content: center;
  text-align: center;
  margin: auto;
}
