<mat-card>
  <h2 class="mat-h2">Importação de patch</h2>
  <div style="display: flex; flex-direction: column">
    <button
      style="width: 500px; margin: auto"
      mat-raised-button
      color="primary"
      (click)="uploadPatch()"
    >
      <mat-icon>upload</mat-icon>Importar patch
    </button>
    <button
      style="width: 500px; margin: auto"
      mat-raised-button
      color="secondary"
      (click)="uploadPatch()"
    >
      <mat-icon>sync</mat-icon>Utilizar patch padrão
    </button>
  </div>
</mat-card>
