<mat-card>
  <div style="display: flex; flex-direction: row; height: 15%">
    <div style="margin-left: auto; margin-right: auto">
      <img class="escudo-time" [src]="urlTimeCasa" />
      <span> {{ partida.timeCasa }} </span>
      <span>{{ partida.golsTimeCasa }} </span>
      x
      <span>{{ partida.golsTimeFora }}</span>

      <span> {{ partida.timeFora }} </span>
      <img class="escudo-time" [src]="urlTimeFora" />
    </div>
  </div>
  <div *ngFor="let item of partida.partida">
    <div *ngIf="item.acontecimentoPartida.length > 0">
      {{ item.idMinuto }} | {{ item.acontecimentoPartida }} |
      {{ item.jogadorGol.nome }}
    </div>
  </div>
</mat-card>
<div class="info-bar"></div>
