<mat-card>
  <div
    style="
      display: flex;
      flex-direction: row;
      height: 15%;
      background-color: #28293b;
    "
  >
    <div style="margin-left: 5%; margin-top: 1%">
      <img class="escudo-time" [src]="urlTimeCasa" />
      <span style="margin-left: 30px; font-size: 25px; font-weight: bold">
        {{ partida.timeCasa }}
      </span>
    </div>

    <div style="margin: auto">
      <span class="score" style="max-width: 30px; display: inline-block"
        >{{ partida.golsTimeCasa }}
      </span>
      x
      <span class="score">{{ partida.golsTimeFora }}</span>
      <br />
    </div>

    <div style="margin-right: 5%; margin-top: 1%">
      <span style="margin-left: 30px; font-size: 25px; font-weight: bold">
        {{ partida.timeFora }}
      </span>
      <img class="escudo-time" [src]="urlTimeFora" />
    </div>
  </div>
  <div>{{ tempoJogo }}'</div>
  <div *ngFor="let item of partida.partida">
    <div *ngIf="item.acontecimentoPartida.length > 0">
      {{ item.idMinuto }} | {{ item.acontecimentoPartida }} |
      {{ item.jogadorGol.nome }}
    </div>
  </div>

  <div style="display: flex">
    <div style="margin: auto">
      <app-goal-chance-chart
        [chanceDataCasa]="dataCasa"
        [chanceDataFora]="dataFora"
        chartColor="blue"
      ></app-goal-chance-chart>
    </div>
  </div>
  <br />
</mat-card>
<div class="info-bar"></div>
