mat-card {
  width: 65%;
  height: 95%;
  margin: 0 auto;
  margin-left: 50px;
  margin-top: 1%;
  background: transparent;
  background-color: #1a1b26;
  color: white;
  float: left;
  padding: 1%;
}

.info-bar {
  width: 30%;
  height: 95%;
  float: right;
  text-align: center;
  margin-left: auto;
  margin-top: 1%;
  margin-right: 1%;
  overflow: auto;
  border-radius: 5px;
  background-color: #1a1b26;
  color: white;
}

.escudo-time {
  width: 100px;
}

.escudo-time-chart {
  width: 70px;
}

.score {
  font-size: 50px;
  font-weight: 800;
}

.info-time-casa {
  display: flex;
  flex-direction: column;
}

.info-time-fora {
  display: flex;
  flex-direction: column;
}

.timeline {
  position: relative;
  width: 20px; /* Largura da linha do tempo */
  height: 300px; /* Altura da linha do tempo */
  background-color: #f0f0f0; /* Cor de fundo da linha do tempo */
  margin: 0 auto;
  border-radius: 10px; /* Borda arredondada para a linha do tempo */
}

.timeline-marker {
  position: absolute;
  width: 100%;
  height: 2px; /* Altura do marcador da linha do tempo */
  /* Cor do marcador da linha do tempo */
  bottom: 0; /* Posição inicial do marcador (no ponto zero) */
  transition: height 0.3s ease-in-out; /* Efeito de deslizamento suave */
}

/* Estilo para a classe "esquerda" */
.esquerda {
  float: left; /* Para alinhar à esquerda */
  clear: both; /* Para evitar que elementos subsequentes flutuem ao lado */
  width: 50%; /* O tamanho da coluna esquerda (ajuste conforme necessário) */
  /* Cor de fundo para distinguir a coluna */
  padding: 5px; /* Espaçamento interno para melhor legibilidade */
}

/* Estilo para a classe "direita" */
.direita {
  float: right;
  text-align: right; /* Para alinhar à direita */
  clear: both; /* Para evitar que elementos subsequentes flutuem ao lado */
  width: 50%; /* O tamanho da coluna direita (ajuste conforme necessário) */
  /* Cor de fundo para distinguir a coluna */
  padding: 5px; /* Espaçamento interno para melhor legibilidade */
}

/* Estilos adicionais, como espaçamento entre colunas ou estilo do texto, podem ser adicionados conforme necessário. */
