mat-card {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1a1b26;
  color: white;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  display: block;
  margin: 0 auto;
}

.titulo {
  position: absolute;
  margin-top: 18%;
  margin-left: 35%;
  color: white;
  -webkit-text-stroke: 1px black;
  font-weight: 500;
  font-size: 40px;
}

.subscribed {
  font-size: 12px;
  color: red;
  position: absolute;
  margin-top: 26%;
  margin-left: 58%;
}

.logo {
  display: block;
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}

.botao {
  margin-bottom: 10px;
  width: 200px;
}
