<mat-card>
  <div styl="margin-bottom:20px;">
    <h1 class="titulo">
      <span style="color: #06ff06">Web</span
      ><span style="color: yellow">foot</span>
    </h1>
    <span class="subscribed">beta</span>
    <img src="assets/webfoot-logo.png" class="logo" />
  </div>

  <button
    class="botao"
    mat-raised-button
    color="primary"
    (click)="startNewGame()"
  >
    <mat-icon>play_arrow</mat-icon> Novo Jogo
  </button>

  <button
    class="botao"
    mat-raised-button
    color="accent"
    (click)="importarJson()"
  >
    <mat-icon>upload</mat-icon>Importar patch
  </button>

  <button class="botao" mat-raised-button color="warn" (click)="startNewGame()">
    <mat-icon>star</mat-icon> Premium
  </button>
</mat-card>
